* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

body::before {
    content: "";
    width: 100%;
    height: 3em;
    background: linear-gradient(#999, #ccc, #eee, #fff);
    position: absolute;
    top: calc(50% + 5em);
}

[class^=ball-] {
    width: 10em;
    height: 10em;
    background: radial-gradient(circle at 25% 25%, #ffe666, #998c00);
    border-radius: 50%;
}

@keyframes rebote {
    16% {
        transform: translateY(-12em);
    }

    32%, 64%, 96% {
        transform: translateY(8%) scale(1, 0.9);
        animation-timing-function: ease-in;
    }

    48% {
        transform: translateY(-8em);
    }
    
    80% {
        transform: translateY(-4em);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

.ball-1 {
    animation: rebote 3s steps(5, start) forwards;
}

.ball-2 {
    transition: transform .5s ease-in;
}

.ball-2:hover {
    transform: translateY(-16em);
    transition: transform .5s ease-out;
}
