:root {
    --boxshadow: 1px 2px 50px 0px crimson;
}

* {
    box-sizing: border-box;
    margin: 0;
}



body {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.heart {
    --size: 150px;
    width: var(--size);
    height: var(--size);
    position: relative;
    margin: 10em 0;
    background-color: crimson;
    animation-name: beat;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    transform: rotate(-45deg);
    box-shadow: var(--boxshadow);
}

.heart::before, .heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
    top: -50%;
    box-shadow: var(--boxshadow);
}

.heart::after {
    top: 0;
    right: -50%;
    box-shadow: var(--boxshadow);
}

.heart:hover {
    animation-play-state: paused;
}

@keyframes beat {
    100% {
        transform: rotate(-45deg) scale(1.2);
        background-color: crimson;
    }
}

p {
    color: white;
    font-size: 1.5em;
}